{
    "env": "testing",
    "server": {
        "address": ":8020"
    },
    "cors": {
        "allowed_headers": "Content-Type,X-Auth-Token,Origin,Authorization,Access-Control-Allow-Headers,Cache-Control,X-Requested-With",
        "allowed_methods": "GET,DELETE,PUT,OPTIONS,POST",
        "allowed_origins": "*"
    },
    "mysql": {
        "user": "muflih",
        "pass": "kholidin",
        "database": "phonebook",
        "address": "127.0.0.1",
        "port": "3306"
    },
}
